# Python
__pycache__/
*.py[cod]
.venv/

# Jupyter
.ipynb_checkpoints/

# Data and generated artifacts
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
models/*
!models/.gitkeep
outputs/figures/*
!outputs/figures/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
